.menu {
    background-color: aqua;
    padding: 10px;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

}

.menu ul li{
    display: inline;
    margin-right: 10px;

}

.menu ul li a {
    color: white;
    text-decoration: none;
}

.logo {
    text-align: center;
    width: 100px;
  }


.titulo{
 text-align: center;
 padding: 2px;
}

